<div class="container">
    <h1>Listing subjects</h1>
    <table>
      <thead>
        <tr>
          <th width="300">Name</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td>subject.name</td>
            <td><%= link_to "Show", [:admin, subject] %>|
            <%= link_to "Edit", edit_admin_subject_path(subject) %>|
            <%= link_to "Destroy", [:admin, subject], method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to "New Subject", new_admin_subject_path %>
</div>